<div
    class="bg-[#222c3d] bg-opacity-60 shadow-lg hover:shadow-xl mx-auto px-6 py-4 rounded-lg w-full fixtransition transition-transform hover:translate-x-1 duration-300"
>
    <div class="flex flex-col gap-2 text-md text-slate-200">
        <!-- Nome da Empresa -->
        <p class="font-semibold text-2xl text-white tracking-wide">Almeida LTDA.</p>

        <!-- Localização -->
        <div class="flex items-center gap-2">
            <i class="flex justify-center items-center ph-map-pin w-5 h-5 ph"></i>
            <span>Pimenta, MG</span>
        </div>

        <!-- CNPJ -->
        <div class="flex items-center gap-2">
            <i class="flex justify-center items-center w-5 h-5 ph-identification-card ph"></i>
            <span>CNPJ 61.284.350/0001-11</span>
        </div>

        <!-- Tipo de Material -->
        <div class="flex items-center gap-2">
            <i class="flex justify-center items-center w-5 h-5 ph-package ph"></i>
            <span>Minério</span>
        </div>

        <!-- Licença de Operação -->
        <div class="flex items-center gap-2">
            <i class="flex justify-center items-center w-5 h-5 ph-file-text ph"></i>
            <span>Licença LIC-1049-5781</span>
        </div>

        <!-- Certificação Ambiental -->
        <div class="flex items-center gap-2">
            <i class="flex justify-center items-center w-5 h-5 ph-leaf ph"></i>
            <span>Sem Certificação Ambiental</span>
        </div>

        <!-- Avaliação -->
        <div class="flex items-center gap-2">
            <i class="flex justify-center items-center w-5 h-5 ph-star ph"></i>
            <span>Avaliação 87</span>
        </div>
    </div>
</div>
