<div class="p-3 w-full" id="supplier-card-template">
    <div
        id="card"
        class="bg-dark-200 bg-opacity-60 shadow-lg hover:shadow-xl px-4 py-4 border-t-[3px] border-transparent rounded-lg w-full fixtransition transition-transform hover:translate-x-1 duration-300"
    >
        <div class="flex justify-between text-md text-slate-200">
            <div class="flex flex-col gap-1 text-zinc-200">
                <p class="mb-3 font-medium text-2xl text-white text-wrap break-words tracking-wide">
                    <span class="field">XXXXXXXXXXXX</span>
                </p>

                <div class="flex items-center gap-4">
                    <i class="ph-map-pin ph-fill"></i>
                    <span class="font-medium field">XXXXXXX, XX</span>
                </div>

                <div class="flex items-center gap-4">
                    <i class="ph-fill ph-identification-card"></i>
                    <span class="font-medium field">000000000000</span>
                </div>

                <div class="flex items-center gap-4">
                    <i class="ph-fill ph-package"></i>
                    <span class="font-medium field">XXXXXX</span>
                </div>

                <div class="flex items-center gap-4">
                    <i class="ph-file-text ph-fill"></i>
                    <span class="font-semibold"><span class="field">LIC-XXXXX-XXXX</span></span>
                </div>

                <div class="flex items-center gap-4">
                    <i class="ph-fill ph-leaf"></i>
                    <span class="font-medium field">XXXXXXXXXXXX</span>
                </div>
            </div>
            <div class="flex justify-end gap-2 w-fit">
                <div
                    class="flex items-center gap-4 bg-black bg-opacity-20 px-3 py-1 rounded-md w-fit h-full max-h-fit"
                >
                    <i class="ph-fill ph-truck text-xl"></i>
                    <span class="font-medium text-nowrap field">[X] km</span>
                </div>
                <div
                    class="flex items-center gap-2 bg-black bg-opacity-20 px-3 py-1 rounded-md w-fit h-full max-h-fit text-green-300"
                    id="supplier-rating"
                >
                    <i class="ph-fill ph-star text-xl"></i>
                    <span class="font-medium field">XXX</span>
                </div>
            </div>
        </div>
    </div>
</div>
