/* Define o background dos controles
do plotly como transparente */
.modebar-group {
    background-color: transparent !important;
}

.plotly-chart,
.plotly-chart.js-plotly-plot {
    width: 100% !important;
    height: 100% !important;
}

/* Ajuste para que os graficos dentro de um container com a classe
plotly-chart se adaptem a largura e altura desse container */
.plotly-chart > div {
    position: relative !important;
    width: 100%;
    height: 100%;
}

/* Ajuste para deixar os controles do plotly
alinhados horizontalmente no topo */
.modebar-group,
.modebar-container {
    display: none !important;
}
