.chart-form {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border: 1px solid var(--weak-stroke-color);
    border-radius: 0.375rem;
    font-size: 0.8rem;
}

.form-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.chart-form p {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.chart-form select,
.chart-form input,
.chart-form textarea {
    width: 100%;
    padding: 0.4rem 0.9rem;
    margin-bottom: 0.5rem;
    border-radius: 0.375rem;
    background-color: #151b25;
    outline: none;
    border: 1px solid var(--weak-stroke-color);
    transition: all 0.1s ease-in-out;

    &:focus {
        box-shadow: 0 0 15px -6px #374a6c;
    }
}

.chart-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 36px;

    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="24px" height="24px"><path d="M7 10l5 5 5-5z"/></svg>');
    background-position: calc(100% - 12px) center;
    background-size: 16px;
}

.chart-form button {
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 900;
    width: 100%;
    padding: 10px 15px;
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;
    margin-top: 0.4rem;
    border-top: 1px solid var(--weak-stroke-color);
    transition: all 0.15s ease-in-out;
}

.chart-form button:hover {
    background-color: var(--primary-color);
    color: #151b25;
}

/* Define o background dos controles
do plotly como transparente */
.modebar-group {
    background-color: transparent !important;
}

.plotly-chart,
.plotly-chart.js-plotly-plot {
    width: 100% !important;
    height: 100% !important;
}

/* Ajuste para que os graficos dentro de um container com a classe
plotly-chart se adaptem a largura e altura desse container */
.plotly-chart > div {
    position: relative !important;
    width: 100%;
    height: 100%;
}

/* Ajuste para deixar os controles do plotly
alinhados horizontalmente no topo */
.modebar-group,
.modebar-container {
    display: none !important;
}
