@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #11151c;
    --dark-100: #151b25;
    --dark-200: #1f2735;
    --primary-color: #d68367;
    --secondary-color: #8bc480;
    --stroke-color: #242b39;
    --weak-stroke-color: #1f242b;
    --fill-color: #151b2500;
    --off: #00000075;
}

* {
    font-family: "JetBrains Mono", sans-serif;
}

.my-indicator {
    display: none;
}

.htmx-request .my-indicator {
    display: flex;
}
.htmx-request.my-indicator {
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.noscrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-200) var(--dark-100);
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: var(--dark-100);
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--dark-100);
}

.fixtransition {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
}
