@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #d68367;
    --secondary-color: #8bc480;
    --stroke-color: #3e4752;
    --weak-stroke-color: #1f242b;
    --fill-color: #151b2500;
    --off: #00000075;
}

* {
    font-family: "JetBrains Mono", sans-serif;
}

/* Define o background dos controles
do plotly como transparente */
.modebar-group {
    background-color: transparent !important;
}

.plotly-chart {
    width: 100% !important;
    height: 100% !important;
}

/* Ajuste para que os graficos dentro de um container com a classe
plotly-chart se adaptem a largura e altura desse container */
.plotly-chart > div {
    position: relative !important;
    width: 100%;
    height: 100%;
}

/* Ajuste para deixar os controles do plotly
alinhados horizontalmente no topo */
.modebar-group,
.modebar-container {
    display: none !important;
}

.state-layer,
.city-layer {
    transition: filter 0.3s ease;
}

.state-layer:hover {
    fill: #1f242b !important;
}

.city-layer:hover {
    filter: brightness(1.5);
}

.noscrollbar::-webkit-scrollbar {
    display: none !important;
}

.texthover {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.texthover:hover {
    height: auto;
    text-wrap: pretty;
}

.custom-tooltip {
    background-color: #272b31 !important;
    border-color: #272b31 !important;
    color: #a1a1a1 !important;
}

.custom-tooltip::before {
    border-top-color: #272b31 !important;
}

.custom-tooltip-gelf {
    background-color: #272b31 !important;
    border-color: #272b31 !important;
    opacity: 1 !important;
    font-size: 0.7rem !important;
    font-weight: bold;
    color: var(--primary-color) !important;
}

.custom-tooltip-gelf::before {
    border-top-color: #272b31 !important;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #19212e #151b25;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #151b25;
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb {
    background: #19212e;
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #151b25;
}

.fixtransition {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
}
