path {
    outline: none !important;
}

.state-layer,
.city-layer {
    transition: filter 0.3s ease;
}

.state-layer:hover {
    fill: var(--weak-stroke-color) !important;
}

.city-layer:hover {
    filter: brightness(1.5);
}

.texthover {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.shapefile-layer {
    transition-property: filter, fill-opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.shapefile-layer:hover {
    filter: brightness(1.1) !important;
    fill-opacity: 0.3;
}

.texthover:hover {
    height: auto;
    text-wrap: pretty;
}

.shapefile-popup .leaflet-popup-content {
    width: auto !important;
}
.shapefile-popup .leaflet-popup-content-wrapper {
    background: var(--dark) !important;
    color: #a1a1a1 !important;
}

.shapefile-popup .leaflet-popup-tip {
    background: var(--dark) !important;
}

.shapefile-popup .leaflet-popup-close-button {
    font-size: 20px !important;
}

.custom-tooltip {
    background-color: var(--dark-200) !important;
    border-color: var(--dark-200) !important;
    color: #a1a1a1 !important;
}

.custom-tooltip::before {
    border-top-color: var(--dark-200) !important;
}

.custom-tooltip-gelf {
    font-size: 0.75rem !important;
    font-weight: bold;
    color: var(--primary-color) !important;
}
