path {
    outline: none !important;
}

.state-layer,
.city-layer {
    transition: filter 0.3s ease;
}

.state-layer:hover {
    fill: var(--weak-stroke-color) !important;
}

.city-layer:hover {
    filter: brightness(1.5);
}

.texthover {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.shapefile-layer {
    transition: filter 0.5s ease;
}

.shapefile-layer:hover {
    filter: brightness(1.3);
}

.texthover:hover {
    height: auto;
    text-wrap: pretty;
}

.shapefile-tooltip {
    background-color: var(--dark-200) !important;
    border-color: var(--dark-200) !important;
    color: #a1a1a1 !important;
}

.shapefile-tooltip::before {
    border-top-color: var(--dark-200) !important;
}

.custom-tooltip {
    background-color: var(--dark-200) !important;
    border-color: var(--dark-200) !important;
    color: #a1a1a1 !important;
}

.custom-tooltip::before {
    border-top-color: var(--dark-200) !important;
}

.custom-tooltip-gelf {
    font-size: 0.5rem !important;
    font-weight: bold;
    color: var(--primary-color) !important;
}
