{% extends "admin/base_site.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'admin/css/extend_admin.css' %}">
    <script>
        /*
            Função para substituir o texto '---------'
            que aparece como primeira opção nos selects
            da pagina de admin globalmente.
        */
        document.addEventListener('DOMContentLoaded', function () {
            const selects = document.querySelectorAll('select');

            selects.forEach(function(select) {
                const firstOption = select.querySelector('option[value=""]');
                if (firstOption && firstOption.textContent.trim() === '---------') {
                    firstOption.textContent = "Selecione";
                }
            });
        });
    </script>
{% endblock extrahead %}
