{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'admin/css/index/main.css' %}">
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'admin/css/index/task.css' %}">
{% endblock extrahead %}
{% block content %}
  <section id="content-main">
    <!-- Lista de Apps -->
    <div id="app-list">{% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}</div>
    <!-- Tarefas Atribuidas -->
    {% if pending_tasks %}
      <div id="custom-container">
        <h2>TAREFAS PENDENTES</h2>
        <div class="noscrollbar task-list">
          {% for t in pending_tasks %}
            <div class="task-item">
              <div>
                <p class="task-timestamp">[{{ t.created_at }}] {{ t.get_status_display|upper }}</p>
                <p>{{ t.description }}</p>
              </div>
              <div class="task-footer">
                <p>
                  {% if t.due_date %}Prazo: {{ t.due_date|date:"d/m/Y" }}{% endif %}
                </p>
                <div class="task-actions">
                  {% if t.status == 'pending' %}
                    <a href="{% url 'admin:start_task' t.id %}">INICIAR</a>
                  {% elif t.status == 'in_progress' %}
                    <a href="{% url 'admin:complete_task' t.id %}">CONCLUIR</a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
{% endblock %}
