@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --highlight: #d68367;
    --green-highlight: #98e089;
    --material: #98e089;
    --material-off: #00000075;
}

svg path:hover {
    fill: var(--material);
    transition: none;
}

svg path {
    transition: fill 0.1s ease-in-out;
}

svg path:focus {
    outline: none !important;
}

.custom-tooltip {
    background-color: #272b31 !important;
    border-color: #272b31 !important;
    color: #ebebeb !important;
}

.custom-tooltip::before {
    border-top-color: #272b31 !important;
}

.custom-tooltip-gelf {
    background-color: #272b31 !important;
    border-color: #272b31 !important;
    opacity: 1 !important;
    font-size: 0.7rem !important;
    font-weight: bold;
    color: var(--material) !important;
}

.custom-tooltip-gelf::before {
    border-top-color: #272b31 !important;
}

/* Solução universal para todos os navegadores */
html {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #19212e #151b25;
}

/* WebKit e Blink */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #151b25;
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb {
    background: #19212e;
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #151b25;
}

.fixtransition {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
}
