:root {
    --bg1: #11151c;
    --bg2: #151b25;
    --bg3: #222c3d;
    --highlight: #d68367;
    --green-highlight: #98e089;
    --material: #98e089;
    --material-off: #00000075;
}

/* Sobrescreve a cor de background no modo dark */
.dark .dark\:bg-gray-900 {
    background-color: var(--bg1) !important; /* Substitua pela sua cor */
}

/* Sobrescreve a cor do sidebar no modo dark */
.dark .dark\:bg-gray-800 {
    background-color: var(--bg2) !important;
}

/* Sobrescreve cores dos cards no modo dark */
/* .dark .dark\:bg-gray-800\/50 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}*/

/* Sobrescreve cores dos inputs no modo dark */
.dark .dark\:bg-gray-700 {
    background-color: var(--bg2) !important;
}

/* Sobrescreve cores de hover dos elementos no modo dark */
.dark .dark\:hover\:bg-gray-700:hover {
    background-color: var(--bg3) !important;
}

/* Sobrescreve cores de borders no modo dark */
.dark .dark\:border-gray-700 {
    border-color: var(--bg3) !important;
}
