{# djlint:off H021, H006 #}
{% load static %}
<div class="bg-dark w-full h-fit pointer-events-auto">
    <nav class="z-30 flex bg-transparent w-full h-fit pointer-events-none">
        <div class="flex flex-wrap justify-start items-start gap-3 px-4 py-4 w-screen h-full">
            <a class="pointer-events-auto" href="{% url 'index' %}">
                <img src="{% static 'assets/logo.png' %}"
                     class="w-auto h-10"
                     alt="Gelf logo" />
            </a>
            {% url 'index' as index_url %}
            {% include "components/header/button.html" with href=index_url text="MAPA" %}
            {% url 'dashboard' as dashboard_url %}
            {% include "components/header/button.html" with href=dashboard_url text="DADOS DE CARVÃO" %}
        </div>
    </nav>
</div>
