{# djlint:off H021, H006 #}
{% load static %}
<div class="bg-dark w-full h-fit pointer-events-auto">
    <nav class="z-30 flex bg-transparent w-full h-fit pointer-events-none">
        <div class="flex flex-wrap justify-start items-start gap-3 px-4 py-4 w-screen h-full">
            <a class="pointer-events-auto" href="{% url 'index' %}">
                <img src="{% static 'assets/logo.png' %}"
                     class="w-auto h-10"
                     alt="Gelf logo" />
            </a>
            {% url 'index' as url %}
            {% include "components/header/button.html" with href=url text="MAPA" %}
            {% url 'admin:index' as url %}
            {% include "components/header/button.html" with href=url text="ADMIN" %}
            <!-- Dashboards -->
            <div class="bg-dark-100 rounded-md h-10 font-semibold text-sm pointer-events-auto">
                <a href="{% url 'charcoal_dashboard' %}"
                   class="hover:brightness-125 flex justify-center items-center px-2 w-fit h-full text-primary transition-[filter] duration-300">
                    CARVÃO
                </a>
            </div>
            <div class="pointer-events-auto">{% include "components/supplier_search.html" %}</div>
        </div>
    </nav>
</div>
