{# djlint:off H021, H006 #}
{% load static %}
<div class="bg-dark w-full h-fit pointer-events-auto">
    <nav class="z-30 flex bg-transparent w-full h-fit pointer-events-none">
        <div class="flex flex-wrap justify-start items-start gap-3 px-4 py-4 w-screen h-full">
            <a class="pointer-events-auto" href="{% url 'index' %}">
                <img src="{% static 'assets/logo.png' %}"
                     class="w-auto h-10"
                     alt="Gelf logo" />
            </a>
            {% url 'index' as url %}
            {% include "components/header/button.html" with href=url text="MAPA" %}
            {% url 'admin:index' as url %}
            {% include "components/header/button.html" with href=url text="ADMIN" %}
            <!-- Dashboards -->
            {% url 'charcoal_dashboard' as url %}
            {% include "components/header/button.html" with href=url text="CARVÃO" %}
            {% url 'charcoal_schedule' as url %}
            {% include "components/header/button.html" with href=url text="PROGRAMAÇÃO DE CARVÃO" %}
            <div class="pointer-events-auto">{% include "components/supplier_search.html" %}</div>
        </div>
    </nav>
</div>
