{% extends "base.html" %}
{# djlint:off H021, H006 #}
{% load static %}
{% block scripts %}
{% endblock scripts %}
{% block content %}
    <div class="flex flex-col w-screen h-screen">
        <!-- HEADER -->
        <nav class="flex bg-dark w-full h-fit">
            <div class="flex flex-wrap justify-start items-start gap-3 px-4 py-4 w-screen h-full">
                <a class="pointer-events-auto" href="{% url 'index' %}">
                    <img src="{% static 'assets/logo.png' %}"
                         class="w-auto h-10"
                         alt="Gelf logo" />
                </a>
                {% url 'index' as index_url %}
                <div class="pointer-events-auto">{% include "components/header/button.html" with href=index_url text="MAPA" %}</div>
                {% url 'admin:index' as admin_url %}
                <div class="pointer-events-auto">{% include "components/header/button.html" with href=admin_url text="ADMIN" %}</div>
                {% url 'dashboard' as dashboard_url %}
                <div class="pointer-events-auto">
                    {% include "components/header/button.html" with href=dashboard_url text="DASHBOARD" %}
                </div>
            </div>
        </nav>
        <!-- MAIN -->
        <main class="flex flex-1 gap-4 bg-dark px-4 pb-4 overflow-hidden">
            <!-- ASIDE -->
            <aside class="flex flex-col w-1/4 h-fit">
                {% include "details/partials/supplier_aside_info.html" with supplier=supplier %}
            </aside>
            <!-- CONTEÚDO PRINCIPAL -->
            <div class="flex flex-col gap-4 shadow-md w-3/4 h-full max-h-full overflow-y-auto">
                <!-- CONTATOS -->
                {% include "details/partials/supplier_contacts.html" with supplier=supplier %}
                <!-- DOCUMENTOS -->
                {% include "details/partials/supplier_documents.html" with supplier=supplier %}
                <!-- INFORMAÇÕES BANCÁRIAS -->
                {% if supplier.bank_details %}
                    {% include "details/partials/supplier_bank_details.html" with supplier=supplier %}
                {% endif %}
            </div>
        </main>
    </div>
{% endblock content %}
