{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
      <head>
            <meta charset="UTF-8" />
            <title>
                  {% block title %}
                        GELFSID
                  {% endblock title %}
            </title>
            <!-- Meta Tags -->
            <meta http-equiv="Content-Security-Policy"
                  content="upgrade-insecure-requests" />
            <meta name="description"
                  content="GELFSID Map - Interactive map application." />
            <meta name="keywords"
                  content="GELFSID, map, interactive, data visualization" />
            <!-- Links -->
            <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}' />
            <link rel="stylesheet" type="text/css" href='{% static "css/charts.css" %}'>
            <link rel="stylesheet"
                  type="text/css"
                  href='{% static "css/custom_form.css" %}'>
            <link rel="shortcut icon"
                  href="{% static 'assets/favicon.ico' %}"
                  type="image/x-icon" />
            <!-- Scripts -->
            <script defer type="module" src="{% static 'dist/base.js' %}"></script>
            <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
            <script src="https://unpkg.com/htmx.org@2.0.3"
                    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
                    crossorigin="anonymous"></script>
            {% block scripts %}
            {% endblock scripts %}
      </head>
      <body class="w-screen h-screen">
            <!-- Alerta de Tamanho de Tela -->
            <div class="top-0 left-0 z-50 fixed flex justify-center items-center xl:hidden bg-dark w-full h-full">
                  <h1 class="font-semibold text-center text-slate-200">Desculpe, esta pagina só funciona em telas maiores.</h1>
            </div>
            {% block content %}
            {% endblock content %}
      </body>
</html>
