{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <script defer type="module" src="{% static 'dist/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/map.css" %}'>
{% endblock extrahead %}
{% block content %}
    <div class="bottom-0 left-0 z-[99] absolute flex justify-center w-full">
        <p class="mb-1 text-[10px] text-center text-gray-700">
            Este app está em desenvolvimento. Algumas funcionalidades podem apresentar instabilidades. Agradeço a sua compreensão e feedback!
        </p>
    </div>
    <!-- Header -->
    <div class="z-30 absolute w-full h-fit pointer-events-none">{% include "components/header/map.html" %}</div>
    <main class="relative w-screen h-screen">
        <!-- Loader -->
        <div id="main-loader"
             class="z-30 absolute flex justify-center items-center w-full h-full pointer-events-none tex">
            {% include "components/loader.html" %}
        </div>
        <!-- Div Lateral de Detalhes -->
        <div id="details"
             class="right-0 z-20 fixed flex flex-col gap-5 bg-clip-padding bg-dark-100 bg-opacity-75 shadow-[0_0_10px_#11151c] backdrop-blur-sm backdrop-filter p-3 w-[48rem] h-full transition-transform translate-x-full duration-500">
            <div class="flex justify-between items-center px-3">
                <h2 id="details-title" class="mt-3 mb-3 font-bold text-3xl text-white"></h2>
                <i id="close-details"
                   class="ph-x text-slate-300 text-xl hover:text-highlight transition-colors duration-200 cursor-pointer ease-in-out ph"></i>
            </div>
            <div id="supplier-cards-container"
                 class="flex flex-col gap-1 w-full overflow-auto noscrollbar"></div>
        </div>
        <!-- Container do Mapa -->
        <div id="map" class="z-10 !bg-dark w-full h-full"></div>
    </main>
{% endblock content %}
