{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="gap-4 grid grid-rows-2 bg-dark p-5 w-full h-full">
        <div class="bg-dark-100 p-5 rounded-xl w-full">
            <div class="plotly-chart">{{ daily_entries_chart|safe }}</div>
        </div>
        <div class="gap-5 grid grid-cols-2 w-full">
            <div class="bg-dark-100 p-5 rounded-xl w-full">
                <div class="plotly-chart">{{ moisture_and_fines_by_day|safe }}</div>
            </div>
            <div class="bg-dark-100 p-5 rounded-xl w-full">
                <div class="plotly-chart">{{ density_by_day|safe }}</div>
            </div>
        </div>
    </div>
{% endblock content %}
