<style>
    :root {
        --bg-dark: var(--dark-100);
        --slider-bg: var(--dark-100);
        --text-inactive: #ffffff3b;
    }

    .material-filter {
        border-radius: 0.375rem;
        background-color: var(--bg-dark);
        max-height: 60px;
        transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
                    opacity 0.5s ease;
        overflow: hidden;
        opacity: 1;
    }

    .material-filter.collapsed {
        max-height: 40px;
    }

    .material-filter.expanded {
        max-height: 500px;
        opacity: 1;
    }

    .material-filter-content {
        opacity: 0;
        transform: scale(0.98);
        transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .material-filter.expanded .material-filter-content {
        opacity: 1;
        transform: scale(1);
    }

    .material-filter-option {
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        color: var(--text-inactive);
        transition: all 0.3s ease;
        font-weight: 500;
    }

    .active-material {
        background-color: var(--slider-bg);
        border-radius: 0.375rem;
        color: var(--primary-color) !important;
    }

    #material-filter-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transition: all 0.3s ease;
    }
</style>
<div class="px-2 pb-2 text-center collapsed material-filter"
     id="material-filter">
    <button class="hover:brightness-125 flex justify-center items-center gap-1 w-full h-10 font-semibold text-primary text-sm transition-[filter] duration-300"
            id="material-filter-toggle">
        MOSTRAR FILTRO
    </button>
    <div class="text-xs material-filter-content"></div>
</div>
<script>
    const toggleBtn = document.getElementById("material-filter-toggle");
    const materialFilter = document.getElementById("material-filter");

    toggleBtn.addEventListener("click", (e) => {
        const isCurrentlyClosed = materialFilter.classList.contains('collapsed');

        if (isCurrentlyClosed) {
            materialFilter.classList.remove('collapsed');
            materialFilter.classList.add('expanded');
            toggleBtn.innerHTML = "OCULTAR FILTRO";
        } else {
            materialFilter.classList.remove('expanded');
            materialFilter.classList.add('collapsed');
            toggleBtn.innerHTML = "MOSTRAR FILTRO";
        }
    });
</script>
