<style>
    :root {
        --bg-dark: #151b25;
        --slider-bg: #1e242e;
        --text-inactive: #ffffff3b;
    }

    .material-filter {
        border-radius: 10px;
        background-color: var(--bg-dark);
        max-height: fit-content;
        transition: all 1s ease;
        overflow: hidden;
    }

    .material-filter-option {
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        color: var(--text-inactive);
        transition: all 0.3s ease;
        font-weight: 500;
    }

    .active-material {
        background-color: var(--slider-bg);
        border-radius: 10px;
        color: var(--primary-color) !important;
    }
</style>
<div class="px-2 pb-2 h-10 text-sm material-filter" id="material-filter">
    <button class="hover:brightness-125 flex justify-center items-center gap-1 w-36 h-10 font-semibold text-[var(--primary-color)] transition-[filter] duration-300"
            id="material-filter-toggle">
        <i class="ph-sliders ph"></i>
        MOSTRAR FILTRO
    </button>
</div>
<script>
    const toggleBtn = document.getElementById("material-filter-toggle");
    const materialFilter = document.getElementById("material-filter");

    toggleBtn.addEventListener("click", (e) => {
        const closed = materialFilter.classList.toggle("h-10");
        if (closed) {
            toggleBtn.innerHTML = "<i class='ph-sliders ph'></i>MOSTRAR FILTRO";
        } else {
            toggleBtn.innerHTML = "<i class='ph-sliders ph'></i>OCULTAR FILTRO";
        }
    })

</script>
