<style>
    .custom-indicator {
        display: none;
    }
    .htmx-request .custom-indicator{
        display: flex;
    }
    .htmx-request.custom-indicator{
        display: flex;
    }
</style>
{% load uuid %}
{% uuid as id %}
<div class="flex bg-dark-100 shadow-md p-4 rounded-md w-full h-full text-slate-300">
    <!-- Gráfico -->
    <div class="{% if form %}w-5/6{% else %}w-full{% endif %} relative h-full">
        <div id="loading_{{ id }}"
             class="z-50 absolute flex justify-center items-center bg-dark-100 custom-indicator w-full h-full pointer-events-none">
            {% include "components/loader.html" %}
        </div>
        <div id="chart_{{ id }}"
             hx-indicator="#loading_{{ id }}"
             hx-get="{{ url }}"
             hx-trigger="load"
             class="plotly-chart"></div>
    </div>
    {% if form %}
        <!-- Formulário de Filtro -->
        <form hx-post="{{ url }}"
              hx-target="#chart_{{ id }}"
              hx-indicator="#loading_{{ id }}"
              class="bg-dark-100 custom-form w-1/6">
            {% csrf_token %}
            <div class="form-container">{{ form.as_p }}</div>
            <button type="submit">Filtrar</button>
        </form>
    {% endif %}
</div>
