{% extends "dashboard/base.html" %}
{% block dashcontent %}
    <div class="gap-4 grid grid-rows-2 bg-dark p-4 w-full h-full">
        <!-- Gráfico de entrada de carvão -->
        {% include "dashboard/chart.html" with
        chart_id="charcoal_entries"
        form_id="charcoal_entries_form"
        chart_data=charcoal_entries
        form=charcoal_entries_form %}
        <div class="gap-4 grid grid-cols-2 w-full h-full">
            <!-- Gráfico de finos e umidade média por dia -->
            {% include "dashboard/chart.html" with
            chart_id="moisture_and_fines_by_day"
            chart_data=moisture_and_fines_by_day %}
            <!-- Gráfico de densidade média por dia -->
            {% include "dashboard/chart.html" with
            chart_id="density_by_day"
            chart_data=density_by_day %}
        </div>
    </div>
{% endblock dashcontent %}
