{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    <script>const updateChartUrl = "{% url 'update_chart' %}";</script>
    <script src="{% static 'js/charts_update_handler.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
{% endblock extrahead %}
{% block content %}
    <div class="relative flex bg-white w-screen h-screen overflow-hidden">
        <div class="flex flex-col w-full h-full">
            {% include "components/header/dashboard.html" %}
            <main class="flex bg-dark w-full h-full overflow-y-hidden"
                  id="dashboard-content">
                <!-- Container -->
                <div class="gap-4 grid grid-rows-2 bg-dark px-4 pb-4 !border-none w-full h-full">
                    <div class="table-container">
                        <table class="h-full">
                            <thead>
                                <th>Fornecedor</th>
                                <th></th>
                                {% for month in months %}<th>{{ month }}</th>{% endfor %}
                            </thead>
                            <tbody class="text-center">
                                <!-- GELF -->
                                <tr class="bg-dark-100">
                                    <td rowspan="2">{{ table_data.0.supplier_type }}</td>
                                    <td>Programado</td>
                                    {% for value in table_data.0.planned %}<td>{{ value }}</td>{% endfor %}
                                </tr>
                                <tr class="bg-dark-100">
                                    <td>Realizado</td>
                                    {% for value in table_data.0.realized %}<td>{{ value }}</td>{% endfor %}
                                </tr>
                                <!-- BOTUMIRIM -->
                                <tr class="bg-dark-100">
                                    <td rowspan="2">{{ table_data.1.supplier_type }}</td>
                                    <td>Programado</td>
                                    {% for value in table_data.1.planned %}<td>{{ value }}</td>{% endfor %}
                                </tr>
                                <tr class="bg-dark-100">
                                    <td>Realizado</td>
                                    {% for value in table_data.1.realized %}<td>{{ value }}</td>{% endfor %}
                                </tr>
                                <!-- TERCEIRO -->
                                <tr class="bg-dark-100">
                                    <td rowspan="2" class="border-none">{{ table_data.2.supplier_type }}</td>
                                    <td>Programado</td>
                                    {% for value in table_data.2.planned %}<td>{{ value }}</td>{% endfor %}
                                </tr>
                                <tr class="bg-dark-100">
                                    <td class="border-none">Realizado</td>
                                    {% for value in table_data.2.realized %}<td class="border-none">{{ value }}</td>{% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="gap-4 grid grid-cols-1 w-full h-full">
                        <!-- Gráfico de Volume Realizado -->
                        {% include "components/chart.html" with
                        chart_id=charts.0.id
                        chart_data=charts.0.data %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock content %}
