{% extends "base.html" %}
{# djlint:off H021, H006 #}
{% load static %}
{% block extrahead %}
    <script>const updateChartUrl = "{% url 'update_chart' %}";</script>
    <script src="{% static 'js/charts_update_handler.js' %}"></script>
{% endblock extrahead %}
{% block content %}
    <div class="flex flex-col w-screen h-screen">
        <!-- HEADER -->
        <nav class="flex bg-dark w-full h-fit">
            <div class="flex flex-wrap justify-start items-start gap-3 px-4 py-4 w-screen h-full">
                <a class="pointer-events-auto" href="{% url 'index' %}">
                    <img src="{% static 'assets/logo.png' %}"
                         class="w-auto h-10"
                         alt="Gelf logo" />
                </a>
                {% url 'index' as index_url %}
                {% include "components/header/button.html" with href=index_url text="MAPA" %}
                {% url 'supplier_details' id=supplier.id as details_url %}
                {% include "components/header/button.html" with href=details_url text="VER DETALHES" %}
                <div class="pointer-events-auto">{% include "components/supplier_search.html" %}</div>
            </div>
        </nav>
        <!-- MAIN -->
        <main class="flex flex-1 gap-4 bg-dark px-4 pb-4 overflow-hidden">
            <!-- ASIDE -->
            <aside class="flex flex-col gap-4 w-2/6 h-full overflow-auto noscrollbar">
                {% include "supplier/partials/supplier_aside_info.html" %}
                <div class="w-full h-[250px]">
                    {% include "components/chart.html" with
                    chart_id=charts.1.id
                    form_id=charts.1.form_id
                    chart_data=charts.1.data
                    form=charts.1.form %}
                </div>
            </aside>
            <!-- CONTEÚDO PRINCIPAL -->
            <div class="flex flex-col gap-4 shadow-md w-4/6 h-full max-h-full overflow-y-auto">
                <div class="gap-4 grid grid-rows-2 bg-dark w-full h-full">
                    {% include "components/chart.html" with
                    chart_id=charts.0.id
                    form_id=charts.0.form_id
                    chart_data=charts.0.data
                    form=charts.0.form %}
                    <div class="gap-4 grid grid-cols-2 w-full h-full"></div>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}
