@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --dark: #11151c;
    --dark-100: #151b25;
    --dark-200: #1f2735;
    --primary-color: #d68367;
    --secondary-color: #8bc480;
    --stroke-color: #242b39;
    --weak-stroke-color: #1f242b;
    --fill-color: #151b2500;
    --off: #00000075;
    --custom-border: #a6adb6;
}

* {
    font-family: "JetBrains Mono", sans-serif !important;
    box-sizing: border-box;
}

/*
    Remove a borda aleatória no
    topo da página inicial
*/
#main {
    border-top: none !important;
}

/*
    Define o estilo dos links
    abaixo do header (breadcrumbs)
*/
.breadcrumbs {
    background: var(--dark-100) !important;
}

/*
    Desativa o botão de alterar
    entre o tema escuro e claro
*/
.theme-toggle {
    display: none !important;
}

/*
    Altera o estilo dos botões que aparecem no canto
    superior direito entre o header e o conteudo
*/
.object-tools > li > a {
    background: var(--dark-200) !important;
    border-radius: 0.4rem !important;
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
    filter: none !important;
}

.object-tools > li > a:hover {
    background: var(--primary-color) !important;
}

/*
    Retira a margem do texto que aparece quando
    um erro ocorre em um campo de formulário
*/
ul.errorlist {
    margin: 0px !important;
}

/*
    Remove o sublinhado abaixo dos links
*/
a,
a:hover,
a:focus,
a:active {
    text-decoration: none !important;
}

/*
    Arruma o desnível entre o input de
    pesquisa e o botão de pesquisar
*/
form#changelist-search {
    display: flex;
}
form#changelist-search div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/*
    Faz com que o input da searchbar se
    extenda por toda a altura do container
*/
form#changelist-search div input#searchbar {
    height: 100% !important;
    margin: 0 !important;
}

/*
    Concerta o alinhamento dos atalhos para
    campos de data, colocando-os em linha
*/
.datetimeshortcuts {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
p.date {
    margin-top: 0;
    display: flex;
}
p.date .datetimeshortcuts {
    transform: translateY(0.45rem);
}
p.date input {
    margin-top: 1px !important;
}

/*
    Adiciona um padding horizontal ao redor
    de todos os formulários do site admin
    ao visualizar, editar e criar um registro
*/
.module.aligned {
    padding: 0 10vw;
}

/*
    Faz com que formulários que não tem fieldsets
    definidos, e que são mostrados em linha tenham
    'space-between' como separação
*/
.form-row .flex-container {
    justify-content: space-between;
}

/*
    Ajusta o tamanho dos botões
    que aparecem cortados
*/
.deletelink,
.button.cancel-link,
.closelink {
    height: 100% !important;
}

/*
    Arruma os estilos da barra de ações
    acima da lista de registros
*/
.actions {
    height: fit-content !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.actions label {
    display: flex !important;
    align-items: center;
    gap: 0.4rem;
}
.actions select {
    margin: 0 !important;
}
.actions button {
    box-shadow: none;
    height: 2rem !important;
}

/*
    Configura o estilo dos
    inputs do tipo checkbox
*/
.delete input[type="checkbox"] {
    width: fit-content !important;
}
input[type="checkbox"]:checked {
    accent-color: var(--primary-color);
    width: fit-content !important;
}

/*
    Alterar a borda do input
    quando está em :focus
*/
input:focus,
textarea:focus,
select:focus,
.admin input:focus,
.admin textarea:focus,
.admin select:focus {
    outline: none !important;
    border: 1px solid var(--custom-border) !important;
    box-shadow: none !important;
}

/*
    Tirar a sombra interna
    dos botões e inputs
*/
#searchbar + input,
.actions > button[type="submit"] {
    box-shadow: none !important;
}
#searchbar + input:hover,
.actions > button[type="submit"]:hover {
    border: 1px solid var(--custom-border) !important;
}

/*
    Remove a cor dos icones/imagens
    deixando-as em preto e branco
*/
.related-widget-wrapper-link > img,
.module .addlink,
.module .changelink,
.module .deletelink,
.module .viewlink {
    filter: grayscale(1) !important;
}

/*
    Permite rolar a tabela de forma horizontal se o conteúdo for maior que a tela,
    melhorando a usabilidade.
*/
.admin-interface .inline-related.tabular {
    overflow-x: auto;
}

/*
    Ajusta o layout dos campos de formulário para ocupar 100% da largura disponível,
    garantindo que os campos se ajustem corretamente.
*/
.form-row,
.form-row input {
    width: 100%;
}

/*
    Ajusta a margem dos campos de formulário para que fiquem alinhados corretamente.
*/
.fieldBox {
    margin-right: 0 !important;
}

/*
    Estiliza a linha de checkboxes para que os itens fiquem alinhados horizontalmente.
*/
.checkbox-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.checkbox-row input[type="checkbox"],
input[type="checkbox"] {
    width: fit-content;
    margin: 0 !important;
}

.colM input,
textarea,
select {
    margin-top: 0.2rem !important;
    min-height: 2rem !important;
}

label {
    width: fit-content !important;
}

.form-row {
    margin-bottom: 0.2rem;
}

.inline-group .tabular td.original p {
    height: fit-content;
}

.form-row textarea {
    max-width: 100%;
    height: fit-content;
    width: 100% !important;
}

fieldset.module table {
    width: 100%;
    border-collapse: collapse;
}

fieldset.module th,
fieldset.module td {
    word-wrap: break-word;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

fieldset.module .vTextField {
    max-width: 100%;
    width: 100%;
}

fieldset.module select {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
    Campo de upload de arquivo
*/
.file-upload {
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 16rem;
}
.file-upload .clearable-file-input {
    display: flex;
    gap: 0;
}
.file-upload .clearable-file-input input {
    width: fit-content !important;
}
.file-upload .clearable-file-input label {
    margin-left: 0 !important;
}
.file-upload a {
    font-size: 10px;
    text-wrap: nowrap;
}
input[type="file"] {
    transform: translateY(-0.1rem);
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    margin-right: 0.8rem;
    background-color: white;
    border: 1px solid var(--border-color) !important;
    min-height: 2rem !important;
    transition: background-color 200ms;
    color: var(--dark);
}

input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

/*
    Configurações de SCROLL
*/
html {
    scrollbar-color: #343c51 transparent;
}
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: transparent;
}
html::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
