#content-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#app-list {
    width: 450px;
}

@media only screen and (max-width: 765px) {
    #app-list {
        width: 100%;
    }
}

#app-errors {
    width: fit-content;
    height: fit-content;
    max-width: 38rem;
    padding: 0.5rem;
    border-color: var(--admin-interface-module-background-color) !important;
    background: var(--admin-interface-module-background-color) !important;
    background-color: rgba(47, 69, 109, 0);
}

#app-errors h2 {
    color: var(--admin-interface-module-link-color);
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    margin-bottom: 0.5rem;
}

#app-errors li {
    list-style: none;
}

#app-errors ul {
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

#error-header {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.error-timestamp {
    color: #838a94;
}

.error-operation {
    font-weight: bold;
    color: var(--primary-color);
}

.error-message {
    margin: 8px 0 0 0;
    color: #c2c9d3;
    line-height: 1.5;
}

.error-item {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--darkened-bg);
}

.noscrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}
